.Auth{
    margin: 100px 500px;
    width: 450px;
    position: relative;
    padding: 10px;
    text-align: center;
}

.Info{
    font-family: cursive;
    color: darkred;
}

@media(max-width:600px){
    .Auth{
        margin: 100px 70px 70px 500px
    }
  }