.Auth{
    margin: 100px 400px;
    width: 40%;
    position: relative;
    padding: 10px;
    text-align: center;
    z-index: 500;
}

.Info{
    font-family: cursive;
    color: darkred;
}

@media(max-width:600px){
    .Auth{
        margin: 100px 70px 70px 500px
    }
  }
