.Navigation{
    display: flex;
    flex-flow: row;
    list-style: none;
    height: 100%;
    margin: 0px 20px;
    padding: 0px;
}

.Navigation a{
    color: black;
    padding: 10px 12px;
    text-align: center;
    height: 100%;
    display: block;
}

.Navigation a:hover
.Navigation a:active{
    font-weight: bold;
}

@media(min-width: 500px){
    .Navigation{
        flex-flow: row;
    }

    .Navigation a:active,
    /* .Navigation a:hover, */
    .Navigation a:active{
        font-weight: bold;
        color: black;
        border-bottom: 4px solid white;
        text-decoration: none;
        cursor: pointer;
    }
}